.example-card {
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .example-card-footer {
    padding: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .example-full-width {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fixed-width {
    width: 600px; /* O el valor que prefieras */
  }